:root{
	
}

*{
	margin: 0;
	padding: 0;
}

html{
	font-family: "Trebuchet MS", sans-serif;
	font-size: 18px;
}

body{
	background-color: white;	
}

html, body{
	height: 100%;
	min-height: 100%;
}

h1{
	font-size: 36px;
}

a{
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}

li{
	list-style: none;
}

#wrapper{
	overflow: hidden;
	position: relative;
	min-height: 100%;
	box-sizing: border-box;
	padding-bottom: 40px;
}

main{
	overflow: hidden;
	max-width: 1400px;
	margin: 0 auto;
	box-sizing: border-box;
}

#main-header{
	max-width: 1400px;
	padding: 0 10px;
	margin: 40px auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	box-sizing: border-box;
}

#main-header h1{
	margin: 0 25px;
	min-width: 235px;
}

#social-networks{
	margin: 0 auto;
	display: flex;
	align-items: flex-end;
}

#social-networks a{
	font-size: 25px;
}

#social-networks a:not(:last-child){
	margin-right: 15px;
}

#social-networks a:nth-child(3){
	margin-right: 45px;
}

nav{
	margin: 0 auto;
	display: flex;
	align-items: flex-end;
	padding-bottom: 5px;
}

#menu{
	display: flex;
}

#menu li:not(:last-child){
	margin-right: 25px;
}

#menu li a:hover, #menu li.active a{
	text-decoration: underline;
}

#menu-button, #black-screen, #header-shadow{
	display: none;
}

#main-footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
	font-size: 16px;
}

@media (max-width: 767.98px){

	#header-shadow{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		pointer-events: none;
		z-index: 300;
		box-shadow: 0 3px 3px rgba(0,0,0,0.2);	
	}

	#main-footer{
		height: 50px;
	}

	#wrapper{
		padding-bottom: 90px;
	}

	#social-networks{
		position: absolute;
		bottom: 50px;
		left: 0;
		width: 100%;
		background-color: black;
		color: white;
		align-items: flex-end;
		height: 40px;
		justify-content: center;
	}

	#social-networks a{
		font-size: 20px;
	}

	#main-header{
		margin: 0;
		align-items: center;
		height: 60px;
		justify-content: flex-start;
		box-sizing: border-box;
		z-index: 250;
	}

	#main-header h1{
		font-size: 26px;
		min-width: 0;
		
	}

	#menu-button{
		background-color: transparent;
		border-style: none;
		border-width: 0;
		font-size: 25px;
		padding: 5px;
		outline: none;
		display: block;
	}

	#black-screen{
		position: absolute;
		top: 60px;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 100;
		display: block;
		background-color: rgba(0,0,0,0);
		transition-property: background-color;
		transition-duration: 0.2s;
		pointer-events: none;
	}

	#black-screen.active{
		background-color: rgba(0,0,0,0.5);
		pointer-events: auto;
	}

	nav{
		position: absolute;
		top: 60px;
		left: -60%;
		background-color: white;
		width: 60%;
		height: 100%;
		align-items: flex-start;
		z-index: 200;
		transition-property: left;
		transition-duration: 0.2s;
	}

	nav.active{
		left: 0;
	}

	#menu{
		flex-direction: column;
		width: 100%;
	}

	#menu li{
		width: 100%;
		border-bottom: 1px solid rgba(0,0,0,0.2);
		display: block;
		position: relative;
	}

	#menu li a{
		display: block;
		padding: 10px 0 10px 15px;
		width: 100%;
		text-decoration: none !important;
		box-sizing: border-box;
	}

	#menu li.active, #menu li:hover{
		background-color: rgba(0,0,0,0.2);
		border-bottom: 1px solid rgba(0,0,0,0);
	}


}








