main{
	display: flex;
	height: 65%;
	width: 100%;
	pointer-events: none;
}

#wrapper{
	position: relative;
	height: 100%;
	width: 100%;
}

#contact-info{
	font-size: 28px;
	margin: auto auto;
}

@media (max-width: 767.98px){

	main{
		height: 70%;
	}

	#contact-info{
		font-size: 22px;
	}

}

#phone{
	margin-bottom: 30px;
}

#email{

}