#project-article{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	max-width: 1200px;
	margin: 0 auto 50px auto;
}

#project-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	min-width: 100px;
}

#project-info p{
	margin-bottom: 10px;
	font-size: 16px;
}

#project-info p span{
	margin-bottom: 3px;
	font-size: 18px;
	font-weight: bold;
	display: block;
}

#project-text{
	max-width: 700px;
	min-width: 300px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#project-text iframe{
	margin:20px 0;
}

#project-text p{
	text-align: justify;
}

#project-text h2{
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	line-height: 1.5;
}

#project-img{
	align-self: center;
	margin: 15px;
	margin-bottom: 20px;
	border-radius: 2px;
}

@media (max-width: 920px){

	#project-article{
		flex-direction: column;
		
	}

	#project-info{
		margin-top: 20px;
		flex-direction: row;
	}

	#project-info p{
		margin-right: 30px;
	}
}
