#project-article{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	max-width: 1200px;
	margin: 0 auto 50px auto;
}

#project-info{
	display: flex;
	flex-direction: column;
	width: 200px;
}

#project-info li{
	margin-bottom: 10px;
	font-size: 16px;
}

#project-info h4{
	margin-bottom: 3px;
	font-size: 18px;
	font-weight: bold;
	display: block;
}

#project-text{
	max-width: 700px;
	min-width: 300px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#project-text iframe{
	align-self: center;
	margin:20px 0;
	border-radius: 2px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.vimeo-iframe{
	width: 100%;
}

#project-text p{
	text-align: justify;
}

#project-text h2{
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	line-height: 1.5;
}

.project-img{
	width: 100%;
	margin: 20px 0 30px 0;
	border-radius: 2px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.aditional-img{
	margin: 20px auto;
}

@media (max-width: 1020px){

	#project-article{
		flex-direction: column;
		
	}

	#project-info{
		margin-top: 20px;
	}
	
}

#project-article h3{
	margin-top: 40px;
}

#links{
	margin-top: 15px;
}

#links li{
	list-style-type: disc;
	list-style-position: inside;
	margin-bottom: 10px;
}

#links li span{
	font-size: 20px;
	margin-left: 5px;
}

#links a{
	text-decoration: underline;
}
